@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz@6..12&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');


.primary-text{
  font-family: 'Montserrat', sans-serif;
}
.primary-color{
  color: rgba(240, 103, 17, 1);
}
.secondary-color{
  color: rgba(0, 81, 161, 1);
  ;
}

.custom-navbar {
    width: 1440px;
    height: 96px;
    padding: 0px 112px;
    background-color: #ECF5FF;
    box-shadow: rgba(0, 20, 38, 0.12);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    gap: 32px;
  }
  .navbar-logo {
    width: 53.29px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
   
  }

  .hero-container {
    position: relative;
    height: 100vh; /* Adjust based on your design */
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensures the video stays behind the content */
    object-fit: cover; /* Ensures the video covers the entire section */
    gap: 0px;
    opacity: 0px;
    zoom: 5%;

  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    top: 35%;
    transform: translateY(-50%);
    gap: 0px;
    opacity: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    width: 696px;
    height: 144px;
    
  }

  .hero-content h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

  }
  .FindButton1{
    width: 210px;
    height: 56px;
    padding: 16px 24px 16px 24px;
    gap: 12px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;


  }
  .FindButton2{
    width: 210px;
    height: 56px;
    padding: 16px 24px 16px 24px;
    gap: 12px;
    font-family: Montserrat;
    border: none;
    background: rgba(236, 245, 255, 1);


  }
  .find2icon{
    size: 20px;
  }
  .find1icon{
    size: 20px;
  }
  .pic1{
    position: absolute;
    z-index: -1;
    border-radius: 8px ;
    

  }
  .pic2{
    position: relative;
    z-index: 1;
    top: 264px;
    left: 104px;
    gap: 0px;
    border-radius: 8px ;
    opacity: 0px;


  }
  .pic5{
    position: absolute;
    z-index: -1;
    border-radius: 8px ;
    margin-top: 100px;
    gap: 0px;
    opacity: 0px;

    

  }
  .pic6{
    position: relative;
    top: -6px;
    left: 104px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    


  }
  .line-9{
    width: 51px;
    top: 14px;
    gap: 0px;
    border: 4px 0px 0px 0px;
    border: 2px solid rgba(240, 103, 17, 1);
    color: rgba(240, 103, 17, 1);
   

  }
  .property-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: rgba(240, 103, 17, 1);

  }
  .property-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(17, 24, 39, 1);
    shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }
  .property-p-sub{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(102, 112, 133, 1);
    shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }

  .property-details-container{
    width: 100%;
    height: 504px;
    
  }
  .card-m{
   border: 0px;

  }
  .card-h{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: center;

  }
 .card-d{
  height:200px;
  padding: 24px;
  gap: 20px;
  opacity: 0px;
  background: rgba(236, 245, 255, 1);

 }
 .card-t{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: rgba(17, 24, 39, 1);
  
 }
 .card-p{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

 }
 .footer-text {
  font-family: Montserrat;
  color: grey;
  text-decoration: none;
 }
 .footer-brand{
  font-family: Montserrat;
  color: grey;
 }
 .footer-main{
  background-color: rgba(236, 245, 255, 1);
  padding: 4px;
 }
 .footer-icon{
  font-size: 12px;
 }

.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Wrapper for select input */
.custom-select-wrapper {
  position: relative;
}

.custom-select-arrow {
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px; /* Make space for the custom arrow */
  background: none;
}

/* Custom arrow styling */
.custom-select-wrapper::after {
  content: '▼'; /* Or use a different arrow symbol */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(240, 103, 17, 1); /* Color of the arrow */
  font-size: 12px; /* Adjust size as needed */
}

.newflat{
  width: 250px;
  height: 185px;
  padding: 10px;
  gap: 32px;
  opacity: 0px;
  border: none;
  background-color: rgba(253, 240, 231, 1);

}
.newflat2{
  width: 250px;
  height: 185px;
  padding: 10px;
  gap: 32px;
  opacity: 0px;
  border: none;
  background-color: rgba(236, 245, 255, 1);
  ;

}
.Propertyslide-head-p{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: rgba(17, 24, 39, 1);
  ;

}
.Propertyslide-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 81, 161, 1);
  

}
.ProductCart1-main{
  width:  100%;
  height: 388px;
  opacity: 0px;
  background-color: rgba(249, 250, 251, 1);
}
.ProductCart1-main2{
  width:  100%;
  height: 188px;
  padding: 16px;
  opacity: 0px;
  


}
.ProductCart-image{
  width:  100%;
  height: 200px;
  position: relative;
  

}
.badge {
  background: rgba(197, 226, 255, 1)!important;
  color: rgba(0, 37, 74, 1)!important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}
.rectangle {
  width: 8px;
  height: 8px;
  opacity: 0px;
  color: rgba(238, 102, 17, 1);
  ;
}
.propertycart-text2{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

}
.productcart-p1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #111827;


}
.productcart-p2{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B7280;


}
.productcart-p2 .icon {
  color: #f06711;
  font: bold;
  font-size: 20px;
  
}
.productcart-Budget{
  font-family:'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #111827;

}
.ProductCart-img {
  display: block; 
}

.image-count {
  width: 55px;
  height: 28px;
  padding: 4px;
  gap: 8px;
  border-radius: 4px;
  opacity: 1; 
  background-color: #FDF0E7;
  position: absolute;
  top: 145px; 
  left: 10px; 
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
  color: #101010;
  font-weight: 600;
  line-height: 20px;

}
.image-count .icon {
  font-size: 20px;
  color: rgba(240, 103, 17, 1); 
}

/* for slide */
.slick-next:before , .slick-prev:before {
  font-size: 35px !important;
  color: #5490CB !important;
}

.slick-slide >div{
  margin: 10px;
}

/* Add the dot customization */
.slick-dots li button::before {
  font-size: 10px;
  color: gray;
  opacity: 0.75;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button::before {
  font-size: 14px;
  color: #EE6611 !important;
  opacity: 1;
}
/* for slide end*/
svg {
  height: 2em;
  width: 1.3em;
  
}


/*for testimonial*/
.testimonials-section {
  padding: 92px;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.testimonial-card {
  background-color: #f0f7ff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.testimonial-content {
  text-align: center;
}

.rating-stars {
  margin-bottom: 15px;
}

.star-icon {
  color: #f9d71c;
}

.empty-star {
  color: #e0e0e0;
}

.testimonial-feedback {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.testimonial-profile {
  align-items: center;
  margin-top: 20px;
}

.testimonial-img {
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial-position {
  color: gray;
}
.slick-slide img{
  display: inline !important;
}

.buyerresultbutton{
width: 176px;
height: 44px;
padding: 10px ;
gap: 10px;
border-radius: 4px;
opacity: 0px;
background-color: #0059B1;
;
}
.result-text{
font-size: 24px;
font-weight: 500;
line-height: 32px;
text-align: left;

}
.result-search-main{
  width: 800px;
  height: 1,344px;
  top: 296px;
  left: 112px;
  gap: 24px;
  opacity: 0px;
  

}
.result-search-card{
  height: 232px;
  padding: 24px ;
  border-radius: 8px ;
  opacity: 0px;
  background-color: #F9FAFB;
  ;
  

}
.result-search-card-p1{
font-size: 18px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.01em;
text-align: left;

}
.result-search-card-p2{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #606060;
}
.result-search-card-p3{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #010101;
  
}
.result-search-card-button{
  width: 135px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 12px;
  border-radius: 4px;
  border: 1px solid #000000;

}
.result-search-card-p4{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #010101;
}
.result-search-card-line{
  border: 1.5px solid #E3E3E3;
  width: 427px;
  height: 0px;
  gap: 0px;
  opacity: 0px;
  margin-left: 10px;
  align-items: center;

}
.result-search-card-icon1{
  width: 40px;
  height: 40px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  background-color: rgba(240, 103, 17, 1); 
  color: #f0f7ff;
  

}
.result-search-card-icon-p1{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #303030;
  font-family: 'Montserrat', sans-serif;
}
.result-search-card-icon-p2{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #535353;
  font-family: 'Montserrat', sans-serif;

  
}

